.wrapper {
    padding-top: 50px;
    background: beige;
    color: black;
    height: 100%;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  